<%= form_with(model: blogg, local: true) do |form| %>
  <% if blogg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blogg.errors.count, "error") %> prohibited this blogg from being saved:</h2>

      <ul>
        <% blogg.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
