<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blogg.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blogg.content %>
</p>

<%= link_to 'Edit', edit_blogg_path(@blogg) %> |
<%= link_to 'Back', bloggs_path %>
